[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 12.0

[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 12.0

[submodule "acsone/odoo-autodiscover"]
	path = acsone/odoo-autodiscover
	url = git@github.com:acsone/odoo-autodiscover.git
	branch = master

[submodule "acsone/setuptools-odoo"]
	path = acsone/setuptools-odoo
	url = git@github.com:acsone/setuptools-odoo.git
	branch = master

[submodule "muk-it/muk_base"]
	path = muk-it/muk_base
	url = git@github.com:muk-it/muk_base.git
	branch = 12.0

[submodule "muk-it/muk_bundles"]
	path = muk-it/muk_bundles
	url = git@github.com:muk-it/muk_bundles.git
	branch = 12.0

[submodule "muk-it/muk_dms"]
	path = muk-it/muk_dms
	url = git@github.com:muk-it/muk_dms.git
	branch = 12.0

[submodule "muk-it/muk_docs"]
	path = muk-it/muk_docs
	url = git@github.com:muk-it/muk_docs.git
	branch = 12.0

[submodule "muk-it/muk_misc"]
	path = muk-it/muk_misc
	url = git@github.com:muk-it/muk_misc.git
	branch = 12.0

[submodule "muk-it/muk_quality"]
	path = muk-it/muk_quality
	url = git@github.com:muk-it/muk_quality.git
	branch = 12.0
