[submodule "zaidkilani/royalline-addons"]
	path = zaidkilani/royalline-addons
	url = git@github.com:zaidkilani/royalline-addons.git
	branch = master

[submodule "rlfss/rl"]
	path = rlfss/rl
	url = git@github.com:rlfss/rl.git
	branch = master

[submodule "rlfss/rl1"]
	path = rlfss/rl1
	url = git@github.com:rlfss/rl.git
	branch = master
